<h1>
  Quizzes
</h1>

<%= link_to new_quiz_path do %>
  <div class="new-something-link">
    New Quiz
  </div>
<% end %>

<div id="list">
  <ul>
    <% @quizzes.each do |quiz| %>
      <li>
        <strong><%= "#{quiz.name} (#{quiz.categories.map(&:name).join(', ')})" %></strong>
        <ul>
          <li>
            <strong>
              <%= link_to "TAKE QUIZ", quiz_current_card_path(quiz) %>
            </strong>
               | 
            <%= link_to "Edit", edit_quiz_path(quiz) %> |
            <%= link_to "Delete", quiz_path(quiz), :method => "DELETE" %>
          </li>
        </ul>
      </li>
    <% end %>
  </ul>
</div>