<div id="show-card">

  <div class="title">
    <h1><%= @quiz.name %></h1>
  </div>

  <div class="card-category">
    <h2>Category: <%= @card.category.name %></h2>
  </div>

  <div class="top-action-pack">
    <%= render :partial => "pass_fail", :locals => { :quiz => @quiz, :card_id => @card.id } %>
    <%= render :partial => "card_stats", :locals => { :card_views => @card_views } %>
  </div>

  <div class="card-title">
    <h1>Q: <%= @card.title %></h1>
  </div>

  <button class="show-button" onClick="Card.showBody()">
    Show Answer
  </button>
  <div class="card-body">
    <%= md(@card.body).html_safe %>
  </div>


  <div class="bottom-action-pack">
    <%= render :partial => "pass_fail", :locals => { :quiz => @quiz, :card_id => @card.id } %>
  </div>
  
  <div class="sidebar-stats">
    <%= render :partial => "sidebar", :locals => { :ucqs => @ucqs } %>
  </div>
</div>
