<!DOCTYPE html>
<html>
<head>
  <title>Quizzer</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% unless flash.empty? %>
    <% flash.keys.each do |key| %>
      <div class="flash <%= key %>">
        <%= flash[key] %>
      </div>
    <% end %>
  <% end %>
  <%= render "shared/navbar" %>
  
  <div id="content">
    <%= yield %>
  </div>

</body>
</html>
